#!/usr/bin/make -f
# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
%:
	dh $@

override_dh_auto_build:
	$(MAKE) clean
	$(MAKE) release/gcm
	$(MAKE) release/health_checks

SYSTEMD_OUT:=debian/gcm/lib/systemd/system
GCM_LIB:=debian/gcm/usr/lib/gcm/gcm_lib
GCM_HC_LIB:=debian/gcm/usr/lib/hc/hc_lib

override_dh_auto_install:
	mkdir -p ${GCM_LIB}
	# Copy PyInstaller dependencies
	if [ -d dist/gcm/_internal ]; then \
		cp -r dist/gcm/_internal/* ${GCM_LIB}/; \
	else \
		find dist/gcm -mindepth 1 -maxdepth 1 ! -name gcm -exec cp -r {} ${GCM_LIB}/ \; ; \
	fi
	# Copy gcm executable
	cp dist/gcm/gcm debian/gcm/usr/lib/gcm/gcm

	cp systemd/hc_resources.slice ${SYSTEMD_OUT}
	cp systemd/sacct_backfill.service ${SYSTEMD_OUT}
	cp systemd/sacct_running.service ${SYSTEMD_OUT}
	cp systemd/slurm_job_monitor.service ${SYSTEMD_OUT}
	cp systemd/slurm_monitor.service ${SYSTEMD_OUT}
	cp systemd/scontrol.service ${SYSTEMD_OUT}
	cp systemd/storage.service ${SYSTEMD_OUT}

	mkdir -p ${GCM_HC_LIB}
	# Copy PyInstaller dependencies
	if [ -d dist/health_checks/_internal ]; then \
		cp -r dist/health_checks/_internal/* ${GCM_HC_LIB}/; \
	else \
		find dist/health_checks -mindepth 1 -maxdepth 1 ! -name health_checks -exec cp -r {} ${GCM_HC_LIB}/ \; ; \
	fi
	# Copy health_checks executable
	cp dist/health_checks/health_checks debian/healthchecks/usr/bin
